.card {
  position: relative;
}
.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 12px;
  margin-bottom: 0;
}

.card__delete-btn {
  background-image: url(../images/Delete.svg);
  width: 32px;
  height: 32px;
  top: 10px;
  left: 371px;
  position: absolute;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.card__delete-btn:hover {
  background-image: url(../images/Delete-Hover.svg);
}

.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/Like.svg);
  width: 23px;
  height: 20px;
  opacity: 40%;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_liked {
  background-image: url(../images/Liked.svg);
  opacity: 1;
}

.card__like-btn_liked:hover {
  background-image: url(../images/hover-Liked.svg);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 16px;
  }

  .card__delete-btn {
    left: 246px;
  }

  .card__like-btn {
    width: 20px;
    height: 18px;
  }
}
